/* Custom body style */
body {
    background-color: #f8f9fa;
    color: #333;
}

/* Custom navbar style */
.navbar-custom {
    background-color: #007bff;
    color: #fff;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #fff;
}

/* Custom footer style */
.footer-custom {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Custom style for my-custom-logout */
.my-custom-logout {
    background-color: #dc3545; /* Bootstrap 'danger' color */
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

/* Hover effect for my-custom-logout */
.my-custom-logout:hover,
.my-custom-logout:focus {
    background-color: #c82333; /* Slightly darker shade for hover */
    color: white;
    text-decoration: none;
}
